@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*, *::before, *::after {
  box-sizing: border-box;
}

.body{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family:  Helvetica;
    margin: 0px;
    background-color: black;
}

.prm-btn{
    background-color: oklch(74.6% 0.16 232.661) ;
    width: 120px;
    padding: 8px 16px;
    color: black;
    border: 0;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    
    
}

.prm-btn:hover{
    background-color: oklch(68.5% 0.169 237.323)  ;
}

.sec-btn{
    background-color: black ;
    width: 120px;
    padding: 8px 16px;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
     font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    
}

.sec-btn:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}

.flex-center{
    display: flex;
    justify-content: center;
}