@tailwind base;
@tailwind components;
@tailwind utilities;


.body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 500px;
   
}

.nav-links{
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 32px;
    margin: 0px;
    padding: 0px;
    
}

.navbar ul{
    list-style: none;
}

.nav-logo{
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 32px;
}
.prm-btn{
    background-color: oklch(74.6% 0.16 232.661) ;
    padding: 8px 16px;
    color: black;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    
    
}

.prm-btn:hover{
    background-color: oklch(68.5% 0.169 237.323)  ;
}

.sec-btn{
    background-color: black ;
    padding: 8px 16px;
    color: white;
    border: 1px solid white;
     font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    
}

.sec-btn:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}





.hero{
    margin-top: 0px;
    width: 100vw;
    height: 90vh;
}

.hero-heading{
    
    font-size: 72px;
    margin: 10px;
    width: 1280px;
}

.hero-caption{
    width: 800px;
}


.hero-btn{
    display: flex;
    gap: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    margin-top: 20px;
}

.flex-center{
    display: flex;
    justify-content: center;
}