
.hero{
    
    width: 100%;
    height: fit-content;
}

.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 250px;
    max-width: 1200px;
    padding: 0px 32px;
    height: fit-content;

}

.hero-heading{
    
    font-size: 72px;
    font-weight: 500;
    margin: 0px;
    width: 100%;
    max-width: 1200px;
    
    height: fit-content;
    color: aliceblue;
}

.hero-caption{
    font-size: 18px;
    font-weight: 100;       
    text-align: center;
    line-height: 150%;
    max-width: 800px;
    height: fit-content;
    margin-top: 25px;
    
    color: oklch(55.1% 0.027 264.364);

}


.hero-btn{
    display: flex;
    gap: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    margin-top: 20px;
}

.hero-bg{
    /*background: url(../assets/herobg.svg) no-repeat center center;
    background-size: cover;*/
    background-color: oklch(21% 0.034 264.665);
    
}



.client-logo{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 36px;
    margin-top: 200px;
    margin-bottom: 50px;
    margin-left: 400px ;
    margin-right: 400px;

    height: fit-content;

}

.client-logo img{
    
    height: 60px;
    width: 150px;
}

@media (max-width: 480px) {

.hero-content{
    width: 100vw;
    margin-top: 100px;
    padding: 0px 20px;
}

.hero-heading{
    
    font-size: 44px !important;
    font-weight: 500;
    margin: 0px;
    width: 100%;
    max-width: 450px;
    
    height: fit-content;
    color: aliceblue;
}

.hero-caption{
    max-width: 450px;
}

    
}

@media (max-width: 900px) {
    .hero-content{
        margin-top: 150px;
        width: 100vw;
    }

    .hero-heading{
        font-size: 52px;
        width: 100%;
        max-width: 900px;
        height: auto;


    }
    
}