.sc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    padding-right: 24px;
}

.sc-icon{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    justify-content: center;

}

.sc-icon img{
    width: 50px;
    
  
}

.sc-content{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    
    height: fit-content;

}

.sc-content p{
    font-size: 16px;
    font-weight: lighter;
    color: oklch(55.1% 0.027 264.364);
    margin: 0px;
    padding: 0px;
}

.sc-content h3{
    font-size: 24px;
    font-weight: 500;
    margin: 0px;
    padding-bottom: 12px;
}

